<!DOCTYPE html>
<html lang="en">

<head></head>

<body>
    <h3>
        <a href="{{ url_for('show_all') }}">Exercício Flask</a
      >
    </h3>
    <hr />
    {%- for message in get_flashed_messages() %} {{ message }} {%- endfor %}
    <h3>Pessoas (<a href="{{ url_for('new') }}">Adicionar pessoas </a>)</h3>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Telefone</th>
                <th>Data de Nascimento</th>
            </tr>
        </thead>
        <tbody>
            {% for pessoas in pessoas %}
            <tr>
                <td>{{ pessoas.nome }}</td>
                <td>{{ pessoas.email }}</td>
                <td>{{ pessoas.telefone }}</td>
                <td>{{ pessoas.nascimento }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>